.App {
  text-align: center;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  display: none;
}
section{
  height: 100vh;
}
body{
  background: url("https://www.ucdavis.edu/sites/default/files/styles/sf_landscape_16x9/public/images/article/160726_sunflower_rows.jpg.jpeg?h=57024e64&itok=fyhoGQGq");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}
.nav {
  float: left;
  margin-left: 75px;
  margin-bottom: -300px;
  
  
}
.nav a {
  color: #FFFFFF;
  text-decoration: none;
  font-size: 22px;
  display: block;
  background-color:#282C35;
  margin: 52px 0 0 -55px;
  width: 120px;
  text-align: left;
  box-shadow: 6px 4px 20px -5px #282C35;
  padding-bottom: 2px;
}


.nav a:hover {
  box-shadow: 6px 4px 20px -2px #0a1a99;
  font-size: 22px;
  width:120px;
  background-color: #FFFFFF;
  color:#282C35
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: aqua;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}


