.App {
  text-align: center;
  scroll-behavior: smooth;
}
html::-webkit-scrollbar{
  display: none;
}
/*section{
  height: 100vh;
}
body{
  background: url("https://www.ucdavis.edu/sites/default/files/styles/sf_landscape_16x9/public/images/article/160726_sunflower_rows.jpg.jpeg?h=57024e64&itok=fyhoGQGq");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
}*/
.header-image {
  background: url("https://www.ucdavis.edu/sites/default/files/styles/sf_landscape_16x9/public/images/article/160726_sunflower_rows.jpg.jpeg?h=57024e64&itok=fyhoGQGq");
  background-position: top;
  background-repeat: no-repeat;
  background-size: 100%;
  height: 100vh;
}
.nav {
  position: fixed;
  top: 0;
  width: 100%;
}
.navbar-brand{
  padding-left: 2rem;
}
.nav a {
  text-decoration: none;
  margin: .74rem .74rem 0 -.74rem;
  box-shadow: 6rem 4rem 20rem -5rem #282C35;
  text-transform: uppercase;
  letter-spacing: .25rem;

}
.btn{
  margin-right: 1rem;
  margin-top: .8rem;
  text-transform: uppercase;
}
.container-fluid {
  padding-right: 0;
  padding-left: 0; }
.about-section{
  background: hsla(100, 100%, 100%, 0.25);
}




.App-link {
  color: #61dafb;
}
#latest{
  max-width: 60%;
  height: auto;

}
.profile-content-container {
  padding-top: 4rem;
}
.profile-content{
  background: hsla(100, 100%, 100%, 0.25);
}
header{
  background-color:hsla(100, 50%, 100%, 0) ;
}
/*#about{*/
/*  margin-bottom: 50rem;*/
/*  margin-left: 49rem;*/
/*}*/
#projects{
  margin-right: 1rem;
  margin-left: 1rem;
}
.widget{
  margin-right: 3rem;
  margin-left: 3rem;
  margin-top: 3rem;
  border-radius: 2rem;
}
#python{
  color: rgb(53,114,165);
}
#vue{
  color: rgb(63,180,128);
}
#react{
  color: rgb(94,212,224);
}
#js{
  max-width: 50%;
  height: auto;
}
#dj{
  max-width: 35%;
  height: auto;
}
#SQL{
  max-width: 24%;
  height: auto;
}
#post{
  max-width: 10%;
  height: auto;
}
